body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* La imagen se posiciona encima del canvas */
.interface-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw; /* Ajusta según necesites */
  height: 100vh;
  pointer-events: none; /* Permite interactuar con el canvas debajo */
}
.crosshair-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100vw; /* Ajusta según necesites */
  height: 100vh;
  pointer-events: none; /* Permite interactuar con el canvas debajo */
}
.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw; /* Ajusta según necesites */
  height: 100vh;
  pointer-events: none; /* Permite interactuar con el canvas debajo */
}
.buttons-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100vw; /* Ajusta según necesites */
  height: 100vh;
  pointer-events: none; /* Permite interactuar con el canvas debajo */
}
.map-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw; /* Ajusta según necesites */
  height: auto;
  pointer-events: none; /* Permite interactuar con el canvas debajo */
}

.text-overlay {
  position: fixed;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 2rem;
  z-index: 20;
  pointer-events: none;
}
#dron-container {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 25%;  
  height: 400px;
  z-index: 1000;
  pointer-events: none;
  background-image: url('assets/img/HUD_mapback_edit.png');
  background-size: contain; 
  background-repeat: no-repeat; 
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
